@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.authentication-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 1000px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.white-auth {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 3rem;
    transition: all 1s ease;
}

.white-auth-active {
    transform: translateX(100%);
    transition: all 1s ease;
}

.white-auth h1 {
    margin-top: 5rem;
    font-size: 2.5rem;
}

.third-party-sign {
    margin-top: 1.5rem;
    display: flex;
    gap: 15px;
}

.third-party-sign button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.alternative-sign {
    margin-top: 1.5rem;
    margin-bottom: 10px;
    font-weight: 500;
    color: rgb(91, 91, 91);
}

.inputs-container {
    display: flex;
    width: 100%;
}

.email-password-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.email-password-container input, .name-input {
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    text-indent: 1.2rem;
    font-size: 1rem;
    font-weight: 600;
}

.name-input {
    margin-bottom: 1rem;
}

.forgot-password {
    margin-top: 2rem;
    font-weight: 500;
    color: rgb(91, 91, 91);
    cursor: pointer;
}

.white-sign-btn, .white-sign-btn-new {
    margin-top: 2rem;
    height: 45px;
    width: 180px;
    border-radius: 10px;
    border: none;
    background-color: rgb(69, 0, 173);
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    height: 25px;
    width: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    animation: spin infinite .7s linear;
}

.overlay {
    height: 10px;
    width: 10px;
    background-color: rgb(69, 0, 173);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -6px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.purple-auth {
    width: 50%;
    height: 100%;
    background-color: rgb(88, 16, 197);
    border-radius: 150px 0 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 4rem;
    transition: all 1s ease;
}

.purple-auth-active {
    transform: translateX(-100%);
    border-radius: 0 150px 150px 0;
    transition: all 1s ease;
}

.purple-sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
    margin-left: 32rem;
    transition: all 1s ease;
}

.purple-sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
    transition: all 1s ease;
}

.purple-auth h1 {
    font-size: 3rem;
}

.purple-auth p {
    width: 430px;
    text-align: center;
    font-size: 1.2rem;
}

.purple-sign-up-btn, .purple-sign-in-btn {
    height: 45px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.log-error {
    background-color: rgb(255, 109, 109);
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    top: 330px;
    display: none;
    transition: all .3s ease;
}

.rocket {
    height: 150px;
}

.greeting-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.greeting-container img {
    height: 50px;
}

.greet-desc {
    width: 550px;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
}

.get-started-btn {
    margin-top: 2rem;
    padding: 20px 50px;
    border: none;
    border-radius: 30px;
    background-color: rgb(90, 35, 255);
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.squiggly-1 {
    position: absolute;
    top: 70px;
    left: 150px;
    transform: scale(2.5);
    animation: bounce-1 infinite 7s .5s linear;
}

.squiggly-2 {
    position: absolute;
    top: 100px;
    right: 150px;
    transform: scale(2.5);
    animation: bounce-2 infinite 7s linear;
}

.squiggly-3 {
    position: absolute;
    bottom: 100px;
    left: 150px;
    transform: scale(2.5);
    animation: bounce-3 infinite 7s linear;
}

@keyframes bounce-1 {
    50% {
        top: 140px;
    }
    100% {
        top: 70px;
    }
}

@keyframes bounce-2 {
    50% {
        top: 150px;
    }
    100% {
        top: 100px;
    }
}

@keyframes bounce-3 {
    50% {
        bottom: 150px;
    }
    100% {
        bottom: 100px;
    }
}

.greet-avatar {
    position: absolute;
    top: 0;
    left: -245px;
}